apiVersion: v1
kind: Service
metadata:
  name: admin
  namespace: demo
  labels:
    app: admin
spec:
  selector:
    app: admin
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      targetPort: 8080
